.title {
    position      : relative;
    // z-index    : -1;
    width         : 100%;
    padding-top   : 61.8%;
    background    : url('./images/bg.jpg') no-repeat 0 100% /cover;
    perspective   : 1200px;

    >.bg {
        position  : absolute;
        background: inherit;
        left      : 0;
        right     : 0;
        bottom    : 0;
        top       : 0;
    }

    &::before {
        transform      : rotate3d(1, 1, 1, 6deg);
        background     : linear-gradient(162deg, #f1faf988, #deedea88);
        backdrop-filter: blur(10px);
        position       : absolute;
        content        : "";
        display        : block;
        left           : 57%;
        width          : 40%;
        top            : 46%;
        height         : 30%;
    }
}

.info {
    position : absolute;
    top      : 46%;
    left     : 57%;
    width    : 40%;
    padding  : 10px 0;
    transform: rotate3d(6, 7, 13, 6deg);
    color    : #000;
}

.name {
    font-size: 40px;
}

.desc {
    font-size : 18px;
    margin-top: 18px;
}

.media(@width, @size1, @size2) {

    @media (max-width:@width) {
        .name {
            font-size: @size1;
        }

        .desc {
            font-size: @size2;
        }
    }
}

.media(720px, 28px, 14px);
.media(480px, 20px, 12px);
.media(360px, 12px, 0);
.media(240px, 0, 0);

&>.pages {
    height : 100%;
    display: block;
}

& {
    height    : 100%;
    font-size : 16px;
    width     : 100%;
    max-width : 1024px;
    background: inherit;
    margin    : 0 auto;
}